<div id="today">
	<%= render 'layouts/today' %>
</div>
<div id="randomness">
	<%= render "layouts/random" %>
</div>
</section>
<section class="calendarArea">
<div id="calendar">
	<%= render "layouts/calendar" %>
</div>
<div class="large-7 large-centered columns footer">
		<%= link_to("Funky Calendar", '/') %> - Designed and Developed by <a href="http://staticsteven.com">@staticsteven</a> - Icons from <a href="http://thenounproject.com/">@nounproject</a>
</div>
</section>
