// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
	color: black;
	font-family: 'Lato', sans-serif;
}

.header {
	min-height: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.header a {
	color: black;
}

.header a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	.header {
	  margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
	}
}

.table td {
	padding: 0px;
	height: 40px;

}

table {
	border: 1px solid black;
}


h1, h4 {
	margin-left: 30px;
}

h3 {
	text-align: center;
}

button {
	width: 100%;
	height: 40px;
	background-color: white;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}


td {
	border: 1px solid black;
	width: 80px;
}

td a {
	color: black;
}

td a:hover {
	text-decoration: none;
}

td:hover {
	background-color: #C6E070;
}

.notmonth {
	background-color: #cccccc;
}

.dateToday {
	width: 180px;
	text-align: center;
	color: #C6E070;
	min-height: 140px;
	padding: 5px;
	border: 6px solid #C6E070;
	margin-bottom: 30px;
}

#dayDate {
	font-size: 110px;
	font-weight: bold;
	line-height: 120px;
}

.todayEvent {
	border: 6px solid black;
	min-height: 110px;
	color: black;
	padding: 20px;
}

#calendar {
	clear: both;
	font-size: 12px;
	text-align: center;
}

.eventName {
	display: inline;
	font-size: 24px;
	font-weight: bold;
}

img {
	margin-right: 10px; 
	margin-left: -10px;
	display: inline; 
	height: 110px;
}

.day {
	font-size: 20px;
	padding: 5px;
}

#month {
	text-align: center;
}

.eventSource {
	font-size: 10px;
	color: black;
}