// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
	color: black;
	font-family: 'Lato', sans-serif;
}

.header {
	min-height: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.header a {
	color: black;
}

.header a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	.header {
	  margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
	}

	.todayEvent {
		min-height: 150px !important; 
	}

	.dateToday {
		margin-left: 35%;
	}
}

@media (max-width: 624px) {
	.dateToday {
		margin-left: 32%;
	}
}

@media (max-width: 499px) {
	.dateToday {
		margin-left: 25%;
	}
}


table {
}


h1, h4 {
	margin-left: 30px;
}

h3 {
	text-align: center;
}

button {
	width: 100%;
	height: 40px;
	background-color: white;
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}


td {
	width: 60px;
	padding: 0px;
	margin: 0px;
}

td a {
	color: black;
}

td a:hover {
	text-decoration: none;
}

.notmonth {
	visibility: hidden;
}

.dateToday {
	width: 180px;
	text-align: center;
	min-height: 140px;
	padding: 5px;
	margin-bottom: 30px;
}

#dayDate {
	font-size: 110px;
	font-weight: bold;
	line-height: 120px;
}

.todayEvent {
	border: 6px solid black;
	min-height: 110px;
	color: black;
	padding: 20px;
}

#calendar {
	clear: both;
	font-size: 12px;
	text-align: center;
}

.eventName {
	display: inline;
	font-size: 24px;
	font-weight: bold;
}

img {
	margin-right: 10px; 
	margin-left: -10px;
	display: inline; 
	height: 110px;
}

.day {
	font-size: 20px;
	width: 30px;
	padding: 0px;
}

.dayBtn {
	width: 100%;
	height: 20px;
	margin: 0px;
	border-radius: 0px;
	border: none;
	background: white;
	box-shadow: none;
}

#month {
	text-align: center;
}

.eventSource {
	font-size: 10px;
	color: black;
}

.january {
	border: 6px solid #cccccc;
	color: #ccc;
}

.february {
	border: 6px solid #f7b821;
	color: #f7b821;
}

.march {
	border: 6px solid #f06f6f;
	color: #f06f6f;
}

.april {
	border: 6px solid #bbe65f;
	color: #bbe65f;
}
.may {
	border: 6px solid #8ee3c2;
	color: #8ee3c2;
}
.june {
	border: 6px solid #90dadf;
	color: #90dadf;
}
.july {
	border: 6px solid #85b6df;
	color: #85b6df;
}
.august {
	border: 6px solid #d291ed;
	color: #d291ed;
}
.september {
	border: 6px solid #fc8ad3;
	color: #fc8ad3;
}
.october {
	border: 6px solid #972626;
	color: #972626;
}
.november {
	border: 6px solid #0d6a95;
	color: #0d6a95;
}
.december {
	border: 6px solid #141657;
	color: #141657;
}

#random {
	display: none;	
}