// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: 'Lato', serif;
	color: #4A4A4A;
}

body {
	background-color: #4CA3B0;
}

h1 {
	margin-top: none;
}

/* Top Half */

.tophalf {
	background-color: white;
	width: 100%;
	padding: none;
	margin: none;
	border-bottom: 1px solid #48767D;
}

/* Today's Date */

	.dateToday {
		width: 180px;
		text-align: center;
		min-height: 140px;
		padding: 5px;
		margin-bottom: 30px;
	}

	#dayDate {
		font-size: 110px;
		font-weight: bold;
		line-height: 120px;
	}

/* Today's Event */

	.todayEvent {
		border: 6px solid #4A4A4A;
		min-height: 158px;
		color: #4A4A4A;
		padding: 10px;
		margin-bottom: 20px;
		text-align: left;
		max-width: 500px;
		float: right;
	}

	.todayEvent img{
		float: left;
		padding-right: 20px;
		max-height: 100px;
		margin-top: 10px;
		margin-left: 10px;
	}

	#eventName {
		display: inline;
		font-size: 1.5em;
		font-weight: bold;
	}

	.source {
	font-size: 12px;
	color: black;
	}

/* Buttons */

	.buttons a:nth-of-type(1){
		margin-right: 5vw;
		background: #f06f6f;
		border: none;
		font-size: 14px;
		padding: 15px 0px 15px 0px;
		font-weight: lighter;
		width: 100px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.buttons a:nth-of-type(2){
		margin-left: 5vw;
		background: #2c3e52;
		border: none;
		font-size: 14px;
		padding: 15px 0px 15px 0px;
		font-weight: lighter;
		width: 100px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

/* Calendar */

	.calendarArea, {
		width: 100%;
		padding-top: 5vh;
		padding-bottom: 15vh;
		margin: none;
	}

	.calendarBox {
		/*border: 6px solid white;*/
		padding: 0px 5px 10px 5px;
		text-align: center;
	}

	.calendarBox a {
		color: white;
	}

	#calendar {
		clear: both;
		font-size: 12px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.day {
		font-size: 20px;
		padding: 0px;
	}

	.today, .today .dayBtn {
		background-color: #48767D;
	}

	.dayBtn {
		height: 20px;
		margin: 0px;
		border-radius: 0px;
		border: none;
		background: #4CA3B0;
		box-shadow: none;
		color: black;
		font-size: 14px;
		padding: 4px 12px;
		width: 100%;
		font-weight: lighter;
	}

	.dayBtn:hover {
		background-color: #48767D;
	}

	#month {
		text-align: center;
		color: white;
	}

	table {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		background-color: #4CA3B0;
		border: none;
	}

	td {
		background-color: #4CA3B0;
		text-align: center;
	}

	table thead {
		background: #4CA3B0;
		font-size: 16px;
		text-align: center;
	}

	table thead tr th {
		text-align: center;
		color: white;

	}

/* Footer */

	.footer {
		color: white;
		text-align: center;
		padding-top: 3vh;
		line-height: 2em;
		font-size: 14px;
		font-weight: lighter;
	}

	.footer a {
		color: #2A454F;
	}

@media (max-width: 700px) {

	.dateToday, .todayEvent {
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    float: none !important;
	}

	.todayEvent {
	/*	max-width: 100%; */
	}

	.calendarBox {
		width: 100%;
	}

}

@media (max-width: 450px) {

	.dayBtn {
		width: 20px;
		text-align: center;
	}

	thead {
		width: 30px;
		margin: none;
	}

	.calendarBox {
		border: none;
	}

	#eventName {
		font-size: 1.2em;
	}

}

@media (max-width: 350px) {
	table {
		margin-left: -15px;
	}
}

.notmonth {
	visibility: hidden;
}

.January {
	border: 6px solid #cccccc;
	color: #ccc;
}

.February {
	border: 6px solid #f7b821;
	color: #f7b821;
}

.March {
	border: 6px solid #f06f6f;
	color: #f06f6f;
}

.April {
	border: 6px solid #bbe65f;
	color: #bbe65f;
}
.May {
	border: 6px solid #8ee3c2;
	color: #8ee3c2;
}
.June {
	border: 6px solid #90dadf;
	color: #90dadf;
}
.July {
	border: 6px solid #85b6df;
	color: #85b6df;
}
.August {
	border: 6px solid #d291ed;
	color: #d291ed;
}
.September {
	border: 6px solid #fc8ad3;
	color: #fc8ad3;
}
.October {
	border: 6px solid #972626;
	color: #972626;
}
.November {
	border: 6px solid #0d6a95;
	color: #0d6a95;
}
.December {
	border: 6px solid #141657;
	color: #141657;
}