<% date = Time.now.to_date %>
<% @events.each do |event| %>
	<% if event.eventdate === date %>
	<div class="span4 offset4 todayEvent">
		<% if event.image %>
		<%= image_tag("/assets/#{event.image}", :width => '100', :class => "img pull-left svg") %>
		<% else %>
		<%= image_tag("http://placehold.it/100x100", :class => "img img-circle pull-left") %>
		<% end %>
		<h4 style="display: inline;">It's <%= event.title %>!</h4>
	</div>
		<% end %>
<% end %>